.navMenu,
.navLinksWrapper {
	color: black;
	display: flex;
	align-items: center;
}
.navMenu {
	position: fixed;
	top: 1.75%;
	left: 50px;
	right: 50px;
	z-index: +10;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.navLinksWrapper {
	background-color: hsla(0, 0%, 50%, 50%);
	padding: 10px;
	border-radius: 10px;
}
.navLink {
	margin-right: 30px;
}

@media (max-width: 1024px) {
	.navMenu {
		right: 25px;
		left: 25px;
	}
}
@media (min-width: 426px) and (max-width: 768px) {
	.logo,
	.navMenu .lineTitle {
		display: none;
	}
	.navLink {
		margin-right: 10px;
	}
	.navLinksWrapper {
		width: 100%;
		justify-content: space-evenly;
	}
	.navLinksWrapper .cta {
		padding: 10px;
	}
}
@media (min-width: 426px) {
	.btn-cont {
		display: none;
	}
}
@media (max-width: 425px) {
	.navLinksWrapper {
		display: none;
	}
	.navMenu {
		right: 15px;
		left: 15px;
	}
}

.main-btn {
	position: relative;
	width: 6rem;
	height: 6rem;
	font-size: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	border-radius: 50%;
	cursor: pointer;
	background-image: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.02) 0%,
		rgba(0, 0, 0, 0.02) 50%,
		rgba(161, 57, 240, 1) 50%,
		rgba(220, 52, 245, 1) 75%,
		rgba(161, 57, 240, 1) 100%
	);
	background-size: 100% 200%;
	background-position: 0% 100%;
	color: #fff;
	transition: 400ms;
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.04);
	transform: rotate(0deg);
	opacity: 1;
}
.main-btn:hover {
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.04);
}
.custom-menu-toggle {
	position: absolute;
	width: 2.3rem;
	height: 0.23rem;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	display: block;
	margin: auto;
	transition: 400ms;
}
.custom-menu-toggle:before {
	position: absolute;
	width: 2.3rem;
	height: 0.23rem;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	display: block;
	margin: auto;
	transition: 400ms;
	content: "";
	backface-visibility: hidden;
	transform: rotate(0deg) translateY(10px);
}
.custom-menu-toggle:after {
	position: absolute;
	width: 2.3rem;
	height: 0.23rem;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	display: block;
	margin: auto;
	transition: 400ms;
	content: "";
	backface-visibility: hidden;
	transform: rotate(0deg) translateY(-10px);
}

.main-btn.active .custom-menu-toggle {
	background-color: rgba(255, 255, 255, 0);
}
.main-btn.active .custom-menu-toggle:before {
	position: absolute;
	width: 2.3rem;
	height: 0.23rem;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	display: block;
	margin: auto;
	transition: 400ms;
	content: "";
	transform: rotate(45deg) translateY(0px);
}
.main-btn.active .custom-menu-toggle:after {
	position: absolute;
	width: 2.3rem;
	height: 0.23rem;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	display: block;
	margin: auto;
	transition: 400ms;
	content: "";
	transform: rotate(-45deg) translateY(0px);
}
