.menuMobile {
	/* height: 100vh;
	height: 100svh;
	width: 100vw; */
	position: fixed;
	background-color: gray;
	z-index: 10;
}
.menuMobile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.navMenuMobile ul {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}
.navMenuMobile ul li a {
	text-transform: capitalize;
	font-size: 40px;
}
.socials {
	display: flex;
	justify-content: space-between;
}
.social {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: beige;
}
