/* mobile S */
@media (max-width: 320px) {
}

/* mobile M*/
@media (max-width: 375px) {
}

/* mobile L */
@media (max-width: 425px) {
	.titleAbout {
		justify-content: center;
	}
	.lineAbout {
		display: none;
	}
	.contactBox {
		padding-inline: 50px;
	}
	/* project section */
	.containerSection {
		margin: 0;
		gap: 50px;
	}
	.projectContainer {
		width: auto;
		/* margin-inline: 10px; */
		padding: 20px;
		border-radius: 15px;
		background-color: gray;
		flex-direction: column-reverse;
	}
	.projectName {
		font-size: 20px;
	}
	.projectImage {
		height: auto;
		width: 100%;
	}
	.textContainer {
		line-height: 150%;
		gap: 15px;
		align-items: center;
		text-align: center;
	}
	.textContainer,
	.projectImage {
		flex: auto;
	}
}

/* tablet */
@media (max-width: 768px) {
	.heroContainer {
		padding: 25px;
		text-align: center;
		justify-content: center;
	}
	.containerAbout {
		align-items: center;
		gap: 50px;
	}
	.titleDesc {
		text-align: center;
		margin: auto;
	}
	.imageWrapper {
		display: none;
	}
}

/* laptop */
@media (min-width: 769px) and (max-width: 1024px) {
	.image {
		height: 300px;
		width: 250px;
	}
	.contactBox {
		padding-inline: 130px;
	}
}

/* laptop L */
@media (min-width: 1025px) and (max-width: 1440px) {
	.image {
		height: 400px;
	}
	.titleDesc {
		line-height: 150%;
	}
}
